
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --font-arial-sans-serif: "Arial", sans-serif;
    --font-arial-sans-serif: "Arial", sans-serif;
    --font-arial-regular: "Arial Regular";
    --font-prata: "Prata";
    --color-black: #222222;
}

body {
    margin: 0;
    font-family:  var(--font-arial-sans-serif);
    color: #fff;
    background-color: var(--color-black);
}

.container-wide {
    max-width: 1325px;
    margin: 0 auto;
}

.container {
    max-width: 1120px;
    margin: 0 auto;
}

/* ------------------------------- HEADER ------------------------------- */

.page-header {
    position: relative;
    max-width: 1370px;
    margin-inline: auto;
}

.page-header .container {
    position: relative;
    display: flex;
    justify-content: space-between;
    z-index: 10;
}

.page-header .header-top {
    display: flex;
    margin-top: 17px;
}

.page-header .logo-header a {
    display: block;
    width: 181px;
    height: 100%;
    margin-block: auto;
    font-size: 37px;
}

.page-header .logo-header img {
    width: 109px;
}

.page-header .main-nav {
    display: flex;
    gap: 28px;
    margin: 0 0 0 79px;
    padding: 0;
    font-size: 11px;
    font-style: italic;
    text-transform: uppercase;
    list-style: none;
}

.page-header .main-nav li a {
    display: inline-block;
    padding-block: 17px;
    color: #fff;
    text-decoration: none;
}

.page-header .left {
    position: absolute;
    top: 225px;
    border: 1px solid red;
}

.page-header .left h1 {
    margin: 0 0 10px 0;
    font-size: 57px;
    font-weight: lighter;
    font-family: var(--font-prata);
    line-height: 69px;
    border: 1px solid red;
}

.page-header .left h2 {
    margin: 0;
    font-size: 36px;
    font-weight: lighter;
    font-family: var(--font-arial-regular);
    border: 1px solid red;
}

.page-header .left ul {
    margin: 0;
    padding: 0;
    font-size: 17px;
    font-weight: lighter;
    font-family: var(--font-arial-regular);
    list-style: none;
    border: 1px solid red;
}

.page-header .left ul li {
    line-height: 32px;
    border: 1px solid orange;
}

.page-header .left ul li a {
    display: inline;
    color: #fff;
    text-decoration: none;
    border: 1px solid red;
}

.page-header .left ul li a span {
    display: inline;
    padding: 0;
    font-size: 28px;
    font-family: var(--font-prata);
    border: 1px solid red;
}

.page-header .image-header {
    position: absolute;
    top: 0;
    right: 0;
    width: 530px;
}
